@import 'vars';
@import 'global';


// font-family: 'Raleway', sans-serif;
// font-family: 'Lato', sans-serif;

// ********header****
.header__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10vh;
  margin-top: 25px;
  margin-bottom: 20px;
}
.header__box {
  display: flex;
}

.header__text {
  font-size: 15px;  
  font-weight: 400;
  line-height: 24px;  
  span {
    color: $orange;
  }
}
.header__phone {
  color: $text;
}
.header__btn {
  display: inline-block;
  text-align: center;  
  padding: 5px;
  border-radius: 4px;
  width: 72px;
  color: #ffffff;
  &.header__btn-login {
    
    background-color: #8bc34a;    
  }
  &.header__btn-register {
    background-color: $orange;  
    margin-left: 10px;  
  }
}
.header__box {
  display: flex;
  align-items: center;
}
.header__text {
  margin-right: 45px;
}
.header__nav { 
  background-color: $bg;
}
.menu__list {
  display: flex; 
  li {
    margin-right: 40px;    
    &:last-child {
    margin-right: 0;
    }
  } 

  & a {    
    padding-top: 23px;
    padding-bottom: 23px;
    font-size: 14px;
    font-weight: 500;    
    color: #ffffff;
    transition: 0.5s ease-out;
  }
  & a:hover {
    color: #eee7e2;
    border-bottom: 2px solid $orange;
    padding-bottom: 3px;
    opacity: 0.9;
  }
}
// **********search********
.search {  
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 530px;
}
.search__inner {
  text-align: center;
  padding: 155px 0px 100px;
  color: #fff;
  
  &-title {
    margin-bottom: 30px;
    font-size: 48px;
    font-weight: 700;    
  }
  &-text {
    margin-bottom: 50px;
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
  }
  &-form {
    max-width: 670px;
    margin: 0 auto;
    position: relative;
    input {      
      height: 56px;  
      padding-left: 20px; 
      padding-right: 50px;   
      display: inline-block;
      width: 100%;
      box-shadow: 0 1px 10px rgba(124, 178, 64, 0.9);
      border-radius: 4px;   
      font-size: 14px;
      font-weight: 500;
      line-height: 30px;      
      letter-spacing: 0.7px;
      &::placeholder {
        color: #90a4ae;        
      }
    }
    button {
      position: absolute;
      border: none;
      background-color: transparent;
      right: 20px;
      top: 17px;
    }

  }
}