@import 'vars';
@import 'global';
@import 'fonts';




// font-family: 'Raleway', sans-serif;
// font-family: 'Lato', sans-serif;

// ********header****
.header__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10vh;
  margin-top: 25px;
  margin-bottom: 20px;
}
.header__box {
  display: flex;
}

.header__text {
  font-size: 15px;  
   line-height: 24px;  
  span {
    color: $orange;
  }
}
.header__phone {
  color: $text;
}
.header__btn {
  display: inline-block;
  text-align: center;  
  padding: 5px;
  border-radius: 4px;
  width: 72px;
  color: #ffffff;
  &.header__btn-login {
    
    background-color: #8bc34a;    
  }
  &.header__btn-register {
    background-color: $orange;  
    margin-left: 10px;  
  }
}
.header__box {
  display: flex;
  align-items: center;
}
.header__text {
  margin-right: 45px;
}
.header__nav { 
  background-color: $bg;
}
.menu__list {
  display: flex; 
  li {
    margin-right: 40px;    
    &:last-child {
    margin-right: 0;
    }
  } 

  & a {    
    padding-top: 23px;
    padding-bottom: 23px;
    font-size: 14px;
    font-weight: 500;    
    color: #ffffff;
    transition: $trans;
  }
  & a:hover {
    color: #eee7e2;
    border-bottom: 2px solid $orange;
    padding-bottom: 3px;
    opacity: 0.9;
  }
}
// **********search********
.search {  
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 530px;
  &.page-search {
    min-height: 230px;
    .search__inner {
      padding: 55px 0px 70px;
      &-text {
        margin-bottom: 30px;        
      }
    }
  }
}
.search__inner {
  text-align: center;
  padding: 155px 0px 100px;
  color: #fff;
  
  &-title {
    margin-bottom: 30px;
    font-size: 48px;
    font-weight: 700;    
  }
  &-text {
    margin-bottom: 50px;
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
  }
  &-form {
    max-width: 670px;
    margin: 0 auto;
    position: relative;
    input {      
      height: 56px;  
      padding-left: 20px; 
      padding-right: 50px;   
      display: inline-block;
      width: 100%;
      box-shadow: 0 1px 10px rgba(124, 178, 64, 0.9);
      border-radius: 4px;   
      font-size: 14px;
      font-weight: 500;
      line-height: 30px;      
      letter-spacing: 0.7px;
      &::placeholder {
        color: #90a4ae;        
      }
    }
    button {         
      position: absolute;
      border: none;
      background-color: transparent;
      right: 20px;
      top: 17px;
      cursor: pointer;
    }

  }
}
// ********products******
.products {
  padding: 100px 0 ;
  background-color: #f4f6f5;
}
.products__inner-btn {
  text-align: center;
  margin-bottom: 60px;   
    button {
    margin-right: 6px;
    padding: 13px 27px;
    border: none;
    outline: none;
    background-color: #fff;
    color: $bg;
    font-size: 14px;    
    cursor: pointer;
    transition: $trans; 
    &.mixitup-control-active {
      color: #fff;
      background-color: $orange;
    } 
    
    &:last-child {
      margin-right: 0;
    }  
    
    }
}

.products__inner-box {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap; 
 }

.product__item {
  margin-bottom: 20px;
  max-width: 23vw;
  width: 100%;
  box-shadow: 0 2px 2px rgba(205, 214, 222, 0.75);
  transition: $trans;
  &-img {
    display: block;
    min-height: 250px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;  
   
  }
  &-content {
    min-height: 90px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px;
    font-weight: 500;
    border-bottom: 1px solid #e7ecf2;;
   }  
  &-name {
    max-width: 310px;
    
  }
  &-title  {
    display: block;
    font-size: 18px;        
    color: $bg;
  }
  &-category {
    display: block;
    color: $green;
    font-size: 14px;
  }
  &-price {
    font-size: 20px;
    font-weight: 700;
    color: $bg;
  }
  &-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 30px;   
   
  }
  span {
    display: inline-block;  
        
  }    
  
  &-author {
    font-size: 14px;
    display: flex;
    align-items: center;      
  }
  &-star {
    font-size: 12px;
    span {
      color:$bg;
    }
  }
  
  .avatar {
    display: inline-block; 
    margin-right: 15px;     
    width: 30px;
    height: 30px;
    border-radius: 50%;
  }
}
.product__item:hover {
  box-shadow: 0 16px 20px rgba(216, 216, 216, 0.75);
}
.products__bottom-btn {  
  text-align: center;  
  padding: 70px 0px 90px;
  margin: 0 auto; 
   
    button {
    margin-right: 12px;
    padding: 18px 30px;
    border: none;
    outline: none;
    background-color: #fff;
    box-shadow: 0 1px 3px rgba(204, 216, 228, 0.75);
    color: $bg;
    font-size: 16px;     
    cursor: pointer;
    transition: $trans; 
    &.mixitup-control-active {
      color: #fff;
      background-color: $orange;
      box-shadow: 0 16px 20px rgba(216, 216, 216, 0.75);
    }     
    &:last-child {
      margin-right: 0;
    }  
    
    }   
} 

// ********product-slider******

.product-slider {
    padding-top: 100px;
    padding-bottom: 120px;
  .slick-dots {
    margin-top: 50px;
    text-align: center;
    li {
      display: inline-block;
      margin-right: 3px;
      margin-left: 3px;
      
      &.slick-active {        
        button {
          background-color: #8bc34a;
          border: 1px solid #dadada; 
                    
        }
      }
      button {
        width: 16px;
        height: 16px;
        border-radius:50%;
        border: 1px solid #dadada;
        background-color: #e8e8e8;
        font-size: 0;        
        cursor: pointer;
        outline: none;
      }
    }
  }

}
// ********advantages******
.advantages {
  padding: 110px 0px;
  background-color: $bg;
}
.advantages__title {
  color: #ffffff;
}
.advantages__inner {
  display: flex;
  justify-content: space-between;
}
.advantages__item {
  min-width: 370px;
  padding: 0px 18px;
  text-align: center;  
  &:hover {
    .advantages__item-image {
      background-color: $green; 
      g {
        fill: #fff;
      }     
    }
    .advantages__item-title {
      color: $green;
    }  
  }  
  &-image {
    width: 114px;
    height: 114px;
    border-radius: 50%;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto 30px;
    transition: $trans;
  }
  &-title {
    margin-bottom: 30px;
    font-size: 24px;
    font-weight: 500;
    color: #ffffff;
    transition: $trans;
  }
  &-text {
    color: #b0bec5;
    font-size: 15px;
    font-weight: 400;
  }
}
.icosvg-1 {
  svg {
    transition: $trans;
    width: 50px;
  }  
}
.icosvg-2 {
  svg {
    width: 70px;
    transition: $trans;
  }  
}
.icosvg-3 {
  svg {
    width: 86px;
    transition: $trans;
  }
}
// ********author******
.author {
  display: flex;
  align-items: center;
  justify-content: center;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 75vh;
  width: 100%;
  &__box {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 200px;
    max-width: 585px;
    width: 100%;
    background-color: $green;
  }
  &__title {       
    color: #ffffff;
    font-size: 30px;
    line-height: 30px;
    margin-right: 45px;
    max-width: 260px;
    
    span {
      font-weight: 700; 
    }
  }
  &__link {    
    font-size: 18px;
    
    padding: 14px 30px;
    background-color: #fff;
  }

}
// ********tutorial******

.tutorial {
  padding: 80px 0 100px;
}
.tutorial__inner {
  display: flex;
  justify-content: space-between;
  margin-top: 57px;
}
.tutorial__item {
  max-width: 370px;  
  width: 100%;
  text-align: center;
  &-images {    
    min-height: 270px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  &-title {
    padding: 30px 10px;
    font-size: 24px;
    font-weight: 700;    
    color: $bg;
    background-color: #f8f8f8;;
  }
}
.tutorial__link {
  display: block;
}

// ********product-page******

.product-page {
  padding-bottom: 100px;
}

.product-page__inner {
  display: flex;   
}

// ********product-page aside__item ******
.product-page__aside {
  // margin-right: 30px;
  margin-right: 0px;
}

.aside__item {
  padding: 0px 30px 30px 30px;
  margin-bottom: 30px;
  width: 270px;
  background-color: #fff;
  border: 1px solid #d7d7d7;  
}
.aside__title {
  font-size: 20px;
  font-weight: 700;
  padding: 20px 0px 20px;
  color: $bg;
  border-bottom: 1px solid #dde3e8;
}
.category__list {
  padding-top: 10px;
  li {
    padding: 10px 0px;
    display: flex;
    justify-content: space-between;
    position: relative;
    padding-left: 20px;
    &::before {
      position: absolute;
      content: '\f105';
      font-size: 18px;
      left: 0;
      font-family: 'icomoon';
      color: #8bc34a;
    }
  }
  a {
    font-size: 15px;
    color: $bg;
  }
  span { 
    color: #90a4ae;
  }
}
.price__range {
  text-align: center;
  form {
    padding-top: 20px;
    position: relative;
    button {
      padding: 17px 10px;
      margin-top: 55px;
      border: none;
      outline: none;
      color: #ffffff;
      font-weight: 500;
      background-color: $green;
      text-align: center;
      width: 100%;
      display: block;
      cursor: pointer;
      position: relative;
      &::before {
        position: absolute;
        content: "\f002";
        font-size: 15px;
        left: 55px;
        top: 16px;
        font-family: 'icomoon';
        color: #ffffff;       
        
      }
    }   
  }
}
.irs-min,
.irs-max {
  display: none;
}
.irs--flat .irs-line {
  top: 20px;
  height: 5px;
  background-color:  #f2f5f8;
  border-radius: 0px;
}
.irs--flat .irs-bar {
  top: 20px;
  height: 5px;
  background-color: #37474f;
}
.irs--flat .irs-handle {
  top: 15px;
  width: 16px;
  height: 16px;
  border: 3px solid #8bc34a;
  border-radius: 50%;
  background-color: #ffffff;
}
.irs--flat .irs-handle>i:first-child {
  display: none;
}
.irs--flat .irs-from, .irs--flat .irs-single, .irs--flat .irs-to {  
  top: 45px;  
  background-color: transparent;  
  color: #78909c;
  font-size: 15px;
  &::before {
    display: none;
  }

}
.product-page__aside {
  .product__item-img {
    min-height: 120px;    
  }
  .product__item {
    width: 100%;
    border: none;
    box-shadow: none;
    margin-bottom: 30px;    
    border-bottom: 1px solid #dde3e8;
    &-info {
      padding: 2px 0px 25px;            
    }
    &-title {
      font-size: 16px;
      font-weight: 700;
    }
    &-content {
      min-height: 0px;
      padding: 20px 0px 15px;
      border-bottom: none;
    }
    &-price {
      font-size: 16px;
    }
    
    .rate-star {
      margin-right: 0;
      } 

  }
  .top-sellers__link {
    padding: 17px 10px;
    margin-top: 55px;
    border: none;
    outline: none;
    font-weight: 500;
    margin-top: 25px;   
    text-align: center;
    display: block;
    width: 100%;
    background-color: $green;
    color: #fff;
  }
}
// ********product-page content ******
.product-page__content {
  width: 100%;
}
.product-page__filter {
  padding: 23px 25px 25px 20px;
  margin-bottom: 30px;
  display: flex;
  justify-content: space-between;
  background-color: #fff;
  border: 1px solid #d7d7d7;
  align-items: center;
  button {
    background-color:transparent;
    border: none;
    cursor: pointer;
    font-size: 16px;
    color: #90a4ae;
    outline: none;
    &.active {
      color: $green;
    }
  } 
}
.product-page__filter-sort {
  display: flex;
  align-items: center;
  font-size: 14px;
  color: #707070;
}
.product-page__filter-list {
  display: flex;
  align-items: center;
}

button.icon-sort-amount-desc {
  font-size: 18px;
  color: #455a64;
}
button.icon-sort {
  font-size: 14px;
  color: #707070;
}

button.icon-th-list {
  color: #90a4ae;
}


.product-page__content {
  .product__item {
  max-width: 19vw;
  margin-bottom: 30px;
  background-color: #fff;
  transition: $trans;
    &-img {
      min-height: 180px;
    }
    .product__item-content {
      padding: 10px 20px;     
    }
    .product__item-title {
      font-size: 16px;
    }
    .product__item-info  {
      padding: 20px 20px;    
    }
    .rate-star {    
      margin-right: 5px;
    }
  }  
}
.product-page__items {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap; 
}
.pagination__list {
  margin-top: 30px;
  display: flex;
  li {    
    display: inline-block;    
    & + li {      
      margin-left: 8px;    
  }
  }
  a,
  span {    
    display: flex;      
    justify-content: center;
    align-items: center;
    width: 43px;
    height: 38px;
    background-color: #fff;
    box-shadow: 0 1px 2px rgba(205, 214, 222, 0.75);
    font-size: 16px;
    font-weight: 500;    
    color: $bg;
    &.active, 
    span {
      background-color: $orange;
      color: #ffffff;
    }
  }  
}
.product__item-text {
  display: none;
}
.product__item-price {
  text-align: right;
  span {
    display: none;
  }
}
.product__item-list {
  display: none;
  position: relative;
    .icon-heart-o {
    &:before {
      top: 5px;
      position: absolute;
      left: 15px;
      color: $green;          
      font-size: 16px;       
         
    }
  }
  
  .icon-heart-o,
  .icon-comment-o {  
    display: inline-block;
    font-size: 12px;
    color: $bg;  
    padding-left: 50px;
    border-left: 1px solid #aeb4bb; 
  }
  .icon-comment-o {
    padding-right: 35px;
    padding-left: 50px;
    &:before {
      top: 5px;
      position: absolute;
      right: 37px;
      color: $green;          
      font-size: 16px;       
         
    }
  }
   
  
}




.page-list {
  &.list {
    box-shadow:none;
    max-width: 100%;
    .product__item-img  {
     width: 240px;
     float: left; 
    }
    .product__item-name {
      max-width: 100%;
    }
    .product__item-content {
      padding: 15px 30px;
  }
    .product__item-text {
      display: block;
      color: #70838d;
      font-size: 14px;
      line-height: 18px;
    }
    .product__item-category {
      margin-bottom: 10px;
    }
    .product__item-price {
      span {
        display: block;
        color: #aeb4bb;
        font-size: 13px;
        margin-top: 30px;
      }
    }
    .product__item-info {
      padding: 10px 30px;
    }
    .product__item-list {
      display: block;
     
    }
    .product__item-star {
      margin-left: auto;
      margin-right: 30px; 
    }
    
  }
  
}
.page-list:nth-child(n+8) {
  &.list {
    display: none;
  }  
  
}
// **************************




// ********footer******
.footer {
  &__content {   
    background-color: $bg;
  }
  &__inner {
     display: flex;
    justify-content: space-between;
    padding: 100px 0px 80px;
  }
}

.footer__col {
  max-width: 270px;
  width: 100%;
  &-title {
    padding-bottom: 25px;
    margin-bottom: 30px;
    color: #ffffff;
    font-family: 'Raleway', sans-serif;
    font-size: 22px;
    font-weight: 700;
    line-height: 24px;
    position: relative;
    &::after {
      position: absolute;
      content: '';
      bottom: 0;
      left: 2px;
      width: 50px;
      height: 3px;
      background-color: $green;
    }
  }
  &-text {
    color: #b7c3c8;    
    margin-bottom: 30px;
  } 
  &-menu {
    max-width: 220px;
    width: 100%;
  }   
}

.footer__info {
  padding-left: 30px;
  color: #ffffff;
  font-family: 'Lato', sans-serif;
  font-size: 14px;  
  line-height: 24px;
  margin-top: 18px;
  font-weight: 500;
  position: relative;
  &::before {
    position: absolute;
    content: '\f041';
    font-size: 18px;    
    left: 0;
    font-family: 'icomoon';
    color: $green;
  }
}
.footer-phone {
  &::before {    
    content: '\f095';    
  }  
}
.footer__col-list {
  a {
    padding-left: 22px;
    margin-bottom: 13px;
    color: #b7c3c8;
    position: relative;
    &::before {
      position: absolute;
      content: '\f105';
      font-size: 18px;
      left: 0;
      font-family: 'icomoon';
      color: $green;
    }    
  }
}
.footer__social-link {
  li {
    display: inline-block;
    & + li {
      margin-left: 6px;
    }
  }  
  margin-bottom: 33px;
  a {
    width: 28px;
    height: 28px;
    background-image: url(../images/content/css_sprites.png);  
  }
}
.link-fb {
  background-position: -0 -28px;
}
.link-tw {
  background-position: -28px 0;
}
.link-yt {
  background-position: -28px -28px;
}
.link-pin {
  background-position: -56px 0px;
}
.link-lin {
  background-position: 0px 0;
}
.footer__form {
  position: relative;
  &-title {
    color: #ffffff;    
    font-size: 20px;    
    margin-bottom: 20px;
  } 
  input {
    border:none;
    background-color: #2f3c43;
    display: block;
    width: 100%;
    height: 40px;
    color: #fff;
    font-size: 14px;
    padding-left: 12px;
    padding-right: 50px;
    &::placeholder {
      color: #697378;
    }
  }
  button {
    position: absolute;
    bottom: 0;
    right: 0;
    border: none;
    height: 40px;
    width: 43px;
    background-color: $green;
    cursor: pointer;
    &::before {
      position: absolute;
      content: '\f124';
      font-size: 20px;
      left: 12px;
      top: 8px;
      font-family: 'icomoon';
      color: #fff;
    }
  }
}

.footer__copy {
  border-top: 1px solid #424d53;
  &-text {
    padding: 25px 0px;
    text-align: center;
    color: #919699;
    line-height: 36px;
    }
}



















